@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --h1: "Edu AU VIC WA NT Hand", cursive;
    --p: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

h1 {
    font-family: var(--h1);
}

h2 {
    margin: 15px 15px;
}

/* -------------------------------------------Navigation Bar */
.navbar-brand {
    font-size: 3rem;
    letter-spacing: 10px;
    color: red;
    font-weight: bolder;
}

.navbar-nav li {
    margin-left: 40px;
}

.fa-search {
    margin-right: 20px;
}

/* -------------------------------------------Carousel */
.carousel-item.active {
    right: 0px;
}

.carousel-item img {
    height: 400px;
}

/* -------------------------------------------Style for displaying results */
.display-results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.row {
    width: 100vw;
}

.display-results img {
    margin: 15px;
    width: 94%;
}

/* -------------------------------------------Search Form */
#pageBlur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: black;
    display: none;
    z-index: 20;
}

#searchApiForm {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#search-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#search-form button {
    width: 100%;
}

.showForm {
    background-color: red;
}

/* -------------------------------------------main section */
main {
    height: 100vh;
    margin-bottom: 30px;
}

/* -------------------------------------------Details page */
#latest-movies .row {
    margin-top: 20px;
    /* align-items: center; */
    /* justify-content: center; */
}
 
.height-600 {
    height: 700px;
    overflow: scroll;
}

.details-image {
    width: 100%;
    height: 700px;
}

#latest-movies h1 {
    margin-bottom: 20px;
}

#latest-movies p {
    font-family: var(--p);
    font-style: italic;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
}

/* --------------------------------------------Footer */
/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #fff;
    margin: 0; 
}

/* --------------------------------------------Media query */
@media only screen and (max-width: 767px) {
    /* nav */
    .navbar-brand {
        font-size: 1.4rem;
        letter-spacing: 10px;
    }
}
