* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 15px 15px;
}

/* -------------------------------------------Navigation Bar */
.navbar-brand {
    font-size: 3rem;
    letter-spacing: 10px;
    color: red;
    font-weight: bolder;
}

.navbar-nav li {
    margin-left: 40px;
}

.fa-search {
    margin-right: 20px;
}

/* -------------------------------------------Carousel */
.carousel-item.active {
    right: 0px;
}

.carousel-item img {
    height: 400px;
}

/* -------------------------------------------Style for displaying results */
.display-results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.row {
    width: 100vw;
}

.display-results img {
    margin: 15px;
    width: 94%;
}

/* -------------------------------------------Search Form */
#pageBlur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: black;
    display: none;
    z-index: 20;
}

#searchApiForm {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#search-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#search-form button {
    width: 100%;
}

.showForm {
    background-color: red;
}

/* -------------------------------------------main section */
/* main {
    height: 8000px;
} */

/* -------------------------------------------Details page */
.details-image {
    width: 100%;
    height: 600px;
}

/* --------------------------------------------Footer */
/* Footer */
footer {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 20px;
}

footer p {
    color: #fff;
    margin: 0; 
}

/* --------------------------------------------Media query */
@media only screen and (max-width: 767px) {
    /* nav */
    .navbar-brand {
        font-size: 1.4rem;
        letter-spacing: 10px;
    }
}
